body{
  text-align: center;
}

#theArray{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sum1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}